@tailwind base;
@tailwind components;
@tailwind utilities;
nav, header {
    background-color: rgba(0, 0, 0, 0.3) !important; /* 30%透明黑色 */
    backdrop-filter: blur(12px) !important;        /* 磨砂模糊 */
    -webkit-backdrop-filter: blur(12px) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important; /* 极细边框线 */
}